.combo-box{
    -fx-background-color: transparent;
    -fx-border-color: transparent;

}

.combo-box .list-cell{
    -fx-text-fill: #00af80 ;
    -fx-font-weight: bolder;
    -fx-font-size: 40px;
    -fx-font-family: fantasy;
    -fx-alignment: center;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #00af80;
}

.combo-box .arrow-button {
    -fx-background-color: trasnparent;
    -fx-border-color: transparent;
}

.combo-box .arrow-button:pressed{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.combo-box .arrow-button:hover{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.combo-box .arrow-button .arrow{
    -fx-background-color: black;
}

.combo-box .list-view{
    -fx-background-color: #E3E8E7;
    -fx-border-color: #CACFCE;
    -fx-text-fill: #A5A8A7;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.combo-box .list-view .list-cell{
    -fx-background-color: #E3E8E7;
    -fx-border-color: #CACFCE;
}

.combo-box .list-view .list-cell:filled{
    -fx-background-color: #E3E8E7;
    -fx-border-color: #CACFCE;
    -fx-text-fill: #666968;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-alignment: left;
}

.combo-box .list-view .list-cell:filled:hover{
    -fx-background-color: #666968;
    -fx-text-fill: #E3E8E7;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-border-color: #c3c4c4;
}

.combo-box .scroll-bar{
    -fx-background-color: #E3E8E7;
    -fx-border-color: #666968 ;
    -fx-border-radius: 5;
}

.combo-box .scroll-bar .thumb{
    -fx-background-color: #666968;
}

.combo-box .scroll-bar .leftbutton{
    -fx-background-color: black;
}

.combo-box .scroll-bar .rightbutton{
    -fx-background-color: black;
}

.combo-box .scroll-bar .increment-button,
.combo-box .scroll-bar .decrement-button{
    -fx-background-color: transparent;
}

.combo-box .scroll-bar .increment-button .increment-arrow:pressed,
.combo-box .scroll-bar .decrement-button .decrement-arrow:pressed{
    -fx-background-color: black;
}
